.btn{
    background-color: #2f72de;
    color: whitesmoke;
    margin-top: 50px;
    margin-left: 60%;
}

table{
    margin-top: 7%;
}

.addbtn{
    background-color: #2f72de;
    color: whitesmoke;
    margin-left: 35%;
    margin-top: 10px;
}

.hbtn{
    background-color: #2f72de;
    color: whitesmoke;
    margin-top: 60px;
    margin-left: 130px;
}